.sub-nav-item {
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
}

.portfolio-nav-link {
  padding-bottom: 0;
}

.sub-nav-item .nav-link {
  padding: 0;
}

.nav-item-active {
  color: white;
}

.list-grp-item {
  position: relative;
  font-size: 0.8rem;
  display: inline;
  padding-top: 4px;
  padding-right: 10px;
  background-color: #fff;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.05);
}
